.section-center {
    width: 90vw;
    margin: 50px auto;
    max-width: 620px;
  }
  
  .question {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }
  
  .question-title p {
    letter-spacing: 0.1rem;
    color: #49a6e9;
    font-weight: bolder;
  }
  
  .question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: #49a6e9;
  }
  
  .question-text {
    padding: 1rem 0;
    border-top: 1px solid grey;
    display: none;
  }
  
  .show-text .question-text {
    display: block;
  }
  
  .minus-icon {
    display: none;
  }
  
  .show-text .minus-icon {
    display: inline;
  }
  
  .show-text .plus-icon {
    display: none;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  